@model Registrarse

@{
    ViewData["Title"] = "Información Personal";
}
<link href="~/css/Info.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container mt-5">
    <!-- Mensajes si los hay -->
    @if (TempData["MensajePerfil"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["MensajePerfil"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }

    <h2>Información del Usuario</h2>
    <div class="row">
        <div class="col-md-6 form-group">
            <label class="form-label">Tipo de documento:</label>
            <input type="text" class="readonly-input" value="@Model.TipoC.ToString()" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Identificación:</label>
            <input type="text" class="readonly-input" value="@Model.Identificacion" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Nombre:</label>
            <input type="text" class="readonly-input" value="@Model.Nombre" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Apellido:</label>
            <input type="text" class="readonly-input" value="@Model.Apellido" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Teléfono:</label>
            <input type="text" class="readonly-input" value="@Model.Telefono" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Correo:</label>
            <input type="email" class="readonly-input" value="@Model.Correo" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Fecha de Nacimiento:</label>
            <input type="text" class="readonly-input" value="@Model.Fechadenacimiento.ToString("yyyy-MM-dd")" readonly />
        </div>
        <div class="col-md-6 form-group">
            <label class="form-label">Sexo:</label>
            <input type="text" class="readonly-input" value="@Model.Tiposexo.ToString()" readonly />
        </div>
    </div>
</div>
